section.step(data-ref="steps[]" data-step="attributePicker")
  form(data-ref="attributesForm")
    h1.headline Choose your options.

    p Click parts of your embed code to turn them into options for the user.

    .picker.box(data-ref="picker")

    .attribute-list-mount(data-ref="attributeListMount")

    .embed-code-location-container(data-ref="embedCodeLocationContainer")
      p.divider Where should the embed code be inserted?

      .box.form.schema-form.embed-code-location
        .input
          select.standard(data-ref="locationSelect" name="location" required)
            option(value="head") Head
            option(value="body") Body
            option(value="custom") A specific location in the body

        .input(data-ref="customLocationContainer" style="display: none;")
          label
            span.required Custom Location
            .help-text
              | Enter a CSS selector for an element inside which the embed will be placed.

          input.standard(
            data-ref="customLocationInput"
            name="customLocation"
            placeholder="body"
            type="text")

    .actions
      button.button.secondary.transparent(
        data-ref="navigationButtons[]"
        data-step="embedCode"
        type="button") Back

      input.button.primary.next(
        type="submit"
        value="Preview Plugin")
