.step(data-ref="steps[]" data-step="attributes")
  form(data-ref="attributesForm")
    p Click parts of the embed code to make them dynamic:

    .attribute-picker.box(data-ref="attributePicker")

    .attribute-list-mount(data-ref="attributeListMount")

    .embed-code-location-container(data-ref="embedCodeLocationContainer")
      p.divider Where should the embed code be inserted?

      .box.form.schema-form.embed-code-location
        .input
          select.standard(data-ref="locationSelect" name="location" required)
            option(value="head") Head
            option(value="body") End of Body
            option(value="custom") Specific Location In Body

        .input(data-ref="customLocationContainer" style="display: none;")
          label
            span.required Custom Location
            .help-text
              | Enter a CSS selector

          input.standard(
            data-ref="customLocationInput"
            name="customLocation"
            placeholder="body"
            type="text")

    .actions
      button.button.secondary.transparent(
        data-ref="navigationButtons[]"
        data-step="embedCode"
        type="button") Back

      input.button.primary.next(
        data-ref="navigationButtons[]"
        data-step="preview"
        type="submit"
        value="Preview Plugin")
